html,body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Bitter, 'open sans', freesans, arial, sans-serif;
	font-size: 13px;
	line-height: 1.35em;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0;
	margin-bottom: -350px;
}

header {
	background: #FAFAFA;
	background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
	background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')"
		;
	border-bottom: 1px solid #CACACA;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px
		rgba(0, 0, 0, 0.1);
	height: 37px;
	padding: 5px 0;
	display: none;
}

h1 {
	color: #444;
	line-height: normal;
}

.headline {
	margin: 0;
	padding: 2em 0;
	width: 50%;
}

h3,h4,h5,h6 {
	line-height: normal;
	text-align: left;
	margin: 0;
	padding: 1em 0 0 0;
}

h3 {
	font-size: 16px;
	line-height: 1.56;
	color: #807A33;
}

i,em {
	font-style: italic;
	font-family: Garamond, serif;
}

.container {
	width: 920px;
	margin: 0 auto;
}

.clearfix {
	display: block; 
}

table p {
	padding: 0;
	margin: 0 30px;
	font-family: Garamond, serif;
	font-style: italic;
}

table tr th {
	border-top: 1px solid Thistle;
}

table ul {
	margin-left: 10px;
}

table.overview {
	width: 100%;
}

table.overview tr td,table.overview tr th {
	width: 50%;
}
table.overview tr td {
	vertical-align: top;	
}

.top-nav {
	float: left;
	margin: 0 0 0 20px;
	list-style: none;
	line-height: 26px;
	float: right;
}

.top-nav li {
	float: left;
	margin: 0 15px 0 0;
}

.top-nav a {
	text-decoration: underline;
}

li small {
	color: #444;
}

footer {
	min-height: 80px;
	overflow: hidden;
	border-top: 1px solid Thistle;
	border-bottom: 1px solid #E0E0E0;
	box-shadow: inset 0 -1px 0 white;
	background-color: LightGoldenrodYellow;
	margin-top: 2em;
}

footer a {
	color: black;
}

.minibutton {
	position: relative;
	display: inline-block;
	padding: 0 10px 0 10px;
	color: #4E2A8E;
	font-size: 16px;
	line-height: 24px;
	white-space: nowrap;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}