@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700);

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Lato', serif;
	font-size: 11pt;
	line-height: 1.45em;
	word-spacing: 0.17em;
}
hr {
	height: 0;
	border-width: 0;
	border-top: 4px solid Thistle;
	margin: 4px 0;
	padding: 0;
}
nav + hr {
	border-color: Lavender;
}
#wrapper {
	width: 900px;
	margin: 0 auto 20px auto;
	padding: 0 15px;
	border-right: 3px solid Lavender; 
}
#logo {
	margin: 0px;
	margin-top: 10px;
	margin-left: 0;
	float: left;	
	height: 40px;
}
#silk {
	height: 40px;	
}
section {
	margin: 0 auto;
	padding: 0;
	padding-left: 0;
	min-height: 400px;
}
nav {
	background-color: transparent;
	color: #888;
	padding: 3px 1em;
	font-weight: bold;
	text-align: right;
}
nav a, nav a:VISITED, .menu a, .menu a:VISITED {
	color: blue;
	text-decoration: none;
}
nav dl {
	display: none;
}
.menu {
	background-color: beige;
	padding: 2px 1em;	
	color: #444;
}
header h1 {
	color: #444;
	line-height: normal;
	margin: 10px 10px 10px 10px;
	display: inline-block;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
}
header h1 b {
	letter-spacing: -6px;
}

.headline {
	margin: 0;
	padding: 2em 0;
}

section h1 {
	font-size: 38px;
	margin: 1em 0 0.3em 0;
	color: #222;
	font-family: 'Lato', sans-serif;
}
h2,h3,h4,h5,h6 {
	line-height: normal;
	text-align: left;
	margin: 0;
	padding: 1em 0 0 0;
	color:#704826;
	color: #222;
}
section h2 {
	font-family: 'Lato', sans-serif;	
	border-bottom: 3px solid Lavender;
	margin-top: 2em;
	padding: 0.25em 0;
	font-size: 20pt;
}
section .main h2 {
	margin-top: 1em;	
}
section .main h3 {
	padding-top: 0.6em;	
}

h3 {
	font-size: 1.15em;
	line-height: 1.56em;
	padding-top: 1em;
	margin-top: 1em;
	position: relative;
}
h3 + p {
	margin-top: 0.3em;	
}

i,em {
	font-style: italic;
	font-weight: 300;
}
pre {
	background-color: #eeeeee;
	font-size: 14px;
	padding: 2px;
}
.lineno {
	background-color: #e6e6e6;	
}
.clearfix {
	display: block; 
}

.teaser {
	width: 50%;
	display: inline-block;
	float: right;
	margin-right:-56%;
	clear: both;
	margin-bottom: 1em;
	margin-top: -2em;
	font-family: 'Lato';
	font-size: 90%;
}
.teaser a { 
	text-decoration: none;	
}
.teaser + * {
	width: 67%;
	float: right;
	margin-left: 2em;
	overflow: hidden;	
}

.teaser p {
	padding: 5px 0 0 0;
	margin: 0 0;
	font-weight: 300;
}
.teaser h3 {
	font-size: 110%;	
}

section > p, .main > p {
	text-align: justify;
}

section > p + p, .main > p + p {
	text-indent: 1em;
}

section code {
	padding: 0 0.4em;	
	font-family: 'Source Code Pro', monospace;
}
section pre code {
	padding: inherit;
}

table.toc {
	font-size: 1.05em;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
table.toc th {
	border-right: 1px solid Thistle;
	text-align: right;
	padding-right: 1em;
	width: 50%;
}
table.toc th, table.toc td {
	padding-top: 0.2em;
}
table.toc tr:FIRST-CHILD th {
	border-top: 1px solid Thistle;
}
table.toc th:FIRST-LETTER {
	color: Thistle;
}
table.toc th a {
	color: blue;
	font-weight: normal;
	text-decoration: none;	
}
table.toc td {
	padding-left: 1em;	
}

.teaser ul {
	margin-left: 20px;
	padding: 0px;
}
.teaser > div {
	padding: 5px 1em 1px 1em;
	margin-bottom: 1em;
}

.main {
	margin-right: 34%;
	padding-right: 2%;
}

a.next, a.next:VISITED {
	display: block;
	text-align: center;	
	width: 50%;
	margin: 2em auto;
	padding: 0.5em 0;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Source Code Pro', sans-serif;
}

li small {
	color: #444;
}

footer {
	color: #888;
	padding-bottom: 10px;
}
footer p {
	margin: 0;
	padding: 0;
	font-size: small;
}
footer a {
	text-decoration: none;
	padding: 0 1em;
}

a.javadoc, a.source {
	text-decoration: none;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 14px;
	margin-left: 5px;
}
a.javadoc.C {
	background-image: url("../img/class_obj.gif");
}
a.javadoc.I {
	background-image: url("../img/int_obj.gif");
}
a.javadoc.E {
	background-image: url("../img/enum_obj.gif");
}
a.source {
	background-image: url("../img/source.gif");
}
a.source.test {
	background-image: url("../img/test.gif");
}
pre code.java a.javadoc {
	background-image: none;
	margin: 0;
	padding: 0;
}