@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700);

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Lato', serif;
	font-size: 11pt;
	line-height: 1.45em;
	word-spacing: 0.17em;
	padding-bottom: 20px;
}
hr {
	height: 0;
	border-width: 0;
	border-top: 1px solid #ddd;
	margin: 1em 0;
	padding: 0;
	clear: both;
	display: block;
}
.wrapper {
	width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}
section {
	margin: 0 auto;
	padding: 0;
	padding-left: 0;
	min-height: 400px;
}
section:before {  
    content: "";  
    position: absolute;  
	width: 200px;
	height: 200px;
	top: 0;
	margin-left: -120px;
	margin-top: 50px;
    z-index: -1;  
    background: url("../img/logo.png") 0 0 no-repeat;  
    -webkit-transform: rotate(-130deg);  
    -moz-transform: rotate(-130deg);  
    -ms-transform: rotate(-130deg);  
    -o-transform: rotate(-130deg);  
    transform: rotate(-130deg);  
} 

nav {
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
	margin-left: 200px;
}
.menu a, .menu a:VISITED {
	color: #222;
	text-decoration: none;
	padding: 0 0.3em;
}
.menu a:HOVER {
	color: black;
}
.menu {
	color: CornflowerBlue;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 4px;
}
.menu .selected {
	background-color: #ddd;
	display: inline-block;
	padding: 2px 1em;
	font-weight: bold;	
}
header {
	padding-bottom: 50px;
}
header h1 {
	color: #666;
	line-height: normal;
	margin: 15px 0 0 0;
	font-family: "Times Modern", Georgia, 'Times New Roman', serif;
	line-height: 40px;
	font-weight: 300;
	font-size: 24px;
	height: 55px;
	border-bottom: 1px solid #ccc;
	
}
header h1:FIRST-LETTER {
	font-size: 150%;
}	
header h1 b {
	color: black;
	font-size: 30px;
	letter-spacing: 2px;
}
header h1 em {
	color: black;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;	
}
header h1 a, header h1 a:VISITED {
	color: #666;
}

section h1 {
	font-size: 38px;
	margin: 1em 0 1.5em 0;
	color: #222;
	text-align: center;
	font-family: "Times Modern", Georgia, 'Times New Roman', serif;
}
h2,h3,h4,h5,h6 {
	line-height: normal;
	text-align: left;
	margin: 0;
	padding: 1em 0 0 0;
	color:#704826;
	color: #222;
}
section h2 {
	font-family: "Times Modern", Georgia, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1em;	
}
section h2 {
	border-bottom: 1px solid #ccc;
	margin-top: 2em;
	padding: 0.25em 0;
}

h3 {
	font-size: 1.15em;
	line-height: 1.56em;
	padding-top: 1em;
	margin-top: 1em;
	position: relative;
}
h3 + p {
	margin-top: 0.3em;	
}

i,em {
	font-style: italic;
	font-weight: 300;
}
pre {
	background-color: #eeeeee;
	font-size: 14px;
	padding: 2px;
}
.lineno {
	background-color: #e6e6e6;	
}
.clearfix {
	display: block; 
}


section > p {
	text-align: justify;
}

section > p + p {
	text-indent: 1em;
}

section code {
	padding: 0 0.4em;	
	font-family: 'Source Code Pro', monospace;
}
section p > code, section li > code {
	background-color: #eee;	
}
section pre code {
	padding: 0;
}

table.toc {
	font-size: 1.05em;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
table.toc th {
	text-align: right;
	padding-right: 1em;
	width: 50%;
}
table.toc th, table.toc td {
	padding-top: 0.2em;
}
table.toc th:FIRST-LETTER {
	color: #ccc;
}
table.toc th a {
	color: blue;
	font-weight: normal;
	text-decoration: none;	
}
table.toc td {
	padding-left: 1em;	
}

li small {
	color: #444;
}

footer {
	clear: both;
	color: #666;
	border-top: 1px solid #CECECE;
	font-family: "Times Modern", Georgia, 'Times New Roman', serif;
	padding-bottom: 50px;
}
footer p {
	text-align: right;
	margin: 0;
	padding: 0;
	font-size: small;
}
footer a {
	text-decoration: none;
}

a.javadoc, a.source {
	text-decoration: none;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 14px;
	margin-left: 5px;
}
a.javadoc.C {
	background-image: url("../img/class_obj.gif");
}
a.javadoc.I {
	background-image: url("../img/int_obj.gif");
}
a.javadoc.E {
	background-image: url("../img/enum_obj.gif");
}
a.source {
	background-image: url("../img/source.gif");
}
a.source.test {
	background-image: url("../img/test.gif");
}
pre code.java a.javadoc, a.javadoc.method, pre code.java a.source {
	background-image: none;
	margin: 0;
	padding: 0;
	color: inherit;
}

a.book, a.next {
	text-align: left !important;
	text-indent: 0;
	width: 100px;
	height: 115px;
	padding: 25px 5px 5px 10px;
	color: white;
	font-family: "Times Modern", Georgia, 'Times New Roman', serif;
	display: inline-block;
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
	margin-right: 15px;
	background-color: #888;
	background: linear-gradient(45deg, #888 0%,#666 100%); /* W3C */
	background: -webkit-linear-gradient(-45deg, #888 0%,#666 100%);
	box-shadow: 4px 4px 3px #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}
a.book:HOVER, a.next {
	color: #e8b035;
	background-color: #444 !important;	
	background: linear-gradient(45deg, #444 0%,#222 100%) !important; /* W3C */
	background: -webkit-linear-gradient(-45deg, #444 0%,#222 100%) !important;
}
.c-docs {
	border-color: #6a88ac;
}
a.c-docs {
	background-color: #6a88ac;
	background: linear-gradient(45deg, #6a88ac 0%,#5a7391 100%); /* W3C */
	background: -webkit-linear-gradient(-45deg, #6a88ac 0%,#5a7391 100%);
	color: #2c2b29;
}
.c-downloads {
	border-color: #2d8a51;	
}
a.c-downloads {
	background-color: #2d8a51;	
	background: linear-gradient(45deg, #2d8a51 0%,#257042 100%); /* W3C */
	background: -webkit-linear-gradient(-45deg, #2d8a51 0%,#257042 100%);
}
.c-javadocs {
	border-color: #644d7b;	
}
a.c-javadocs {
	color: #c9449d;
	background-color: #644d7b;	
	background: linear-gradient(45deg, #644d7b 0%,#534066 100%); /* W3C */
	background: -webkit-linear-gradient(-45deg, #644d7b 0%,#534066 100%);
}
.c-help {
	border-color: #b43639;	
}
a.c-help {
	background-color: #b43639;	
	background: linear-gradient(45deg, #b43639 0%,#992e30 100%); /* W3C */
	background: -webkit-linear-gradient(-45deg, #b43639 0%,#992e30 100%);
}
.c-license {
	border-color: #ffe804;
}
a.c-license {
	background-color: #ffe804;	
	background: linear-gradient(45deg, #ffe804 0%,#e6d104 100%); /* W3C */
	background: -webkit-linear-gradient(-45deg, #ffe804 0%,#e6d104 100%);
	color: #80701c;
}
a.book > span, a.next > span {
	position: absolute;
	margin-top: 80px;
	font-weight: normal;
	font-size: 160%;
}
a.next {
	clear: left;
	color: MediumOrchid;
	font-size: 100%;
	letter-spacing: -1px;
	float: right;
	margin: 20px 15px;
}
a.next + a.next {
	margin-right: 0;	
}
a.next span {
	color:white;	
}
a.next:HOVER {
	color: #e8b035;	
}

a.list {
	float: left;
	font-size: 80%;
	clear: left;
	margin: 0;
	margin-right: 15px;
	margin-bottom: 10px;
	width: 70px;
	height: 88px;
	padding-top: 10px;
}
a.list > span {
	margin-top: 60px;
}
a.list > em {
	display: block;
	font-style: normal;
	line-height: 1em;	
	color: #E8B035;
	font-weight: bold;
}

tour {
	counter-reset: tour; 
	position: absolute;
	top: 85px;
	/* background-color:rgba(1,1,51,0.8); */
	color: #666;
	width: 150px;
	min-height: 200px;
	display: block;
	padding: 15px;
	font-family: "Times Modern", Georgia, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 110%;
	line-height: 1.5em;
	text-align: center;
	border-right: 5px solid white;
}
tour a {
	display: block;
	text-align: left;
	text-decoration: none;
	color: black;
}
tour em {
	color: #e8b035;
	font-style: italic;
}
tour a:HOVER {
	color: #e8b035;
}
tour a:before {
  counter-increment: tour;
  content: counter(tour) ". ";
  font-weight: normal;
}
abstract {
	margin: 15px 10% 3em 10%;
	display: block;
	font-family: "Times Modern", Georgia, 'Times New Roman', serif;
	text-indent: 0;
	text-align: center;
}
.icon {
	text-decoration: none;
	vertical-align: top;
	font-weight: bold;
	margin-bottom: 5px;
	color: black;
	display: inline-block;
	width: 130px;
	margin-left: 70px;
	clear: both;
}
.icon a, .icon a:VISITED {
	vertical-align: top;
	text-decoration: none;
	display: inline;
}
.icon span[class^="icon-"], .icon span[class*=" icon-"]:BEFORE {
	margin-left: -70px;
	font-size: 60px;
	font-weight: normal;
	margin-right: 10px;
	position: absolute;
}
.icon + ul {
	display: inline-block;
	width: 630px;
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
}
.icon + ul li {
	width: 310px;
	display: inline-block;
font-family: "Times Modern", Georgia, 'Times New Roman', serif;	
}
.icon + ul li:BEFORE {
	content: "ïƒš";
	font-weight: bold;
	font-family: FontAwesome;
	margin-right: 5px;
	color: #e8b035;
}
.bullet {
	display: block;
	padding-left: 200px;
	font-family: "Times Modern", Georgia, 'Times New Roman', serif;
	font-weight: normal;
	font-style: italic;
	font-size: 110%;
	color: #555;
	padding-top: 1em;
}
.doc {
	font-family: "Times Modern", Georgia, 'Times New Roman', serif;
}