<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="{{ site.authorName }}" />    
    <title>Silk - Java IoC / DI</title>
    <link rel="shortcut icon" href="http://jbee.github.com/silk/favicon.png" type="image/png">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300italic' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="{{ site.cssPath }}/silk.css">
  </head>
  <body>
    <div id="wrapper">
    	<header>
	<div class="container">
    		<nav>
			<dl>
				<dt>Documentation</dt>
			      <dd><a href="https://github.com/jbee/silk">View On GitHub</a></dd>
			      <dd><a href="sandbox>Sandbox</a></dd>
			</dl>
    			<dl>
    				<dt>Download</dt>
    				<dd><a href="https://github.com/jbee/silk/zipball/master">ZIP File</a></dd>
			      <dd><a href="https://github.com/jbee/silk/tarball/master">TAR Ball</a></dd>
    			</dl>
    			<dl>
    				<dt>About</dt>
    				<dd><a href="about" >silk</a></dd>
			      <dd>&nbsp;</dd>
    			</dl>
    		</nav>
		<img src="{{ site.imgPath }}/logo.png" id="logo"/>
		<a href="/" border="0" style="text-decoration: none;"><h1><span>silk</span></h1></a>
		<h4 id="subline">Java DI / IoC</h4>
	</div>
    	</header>
	  
      <section class="container">{{ content }}</section>

      <footer class="clearfix">
	      <div class="container clearfix">
		        <p style="float:right;"><small>Hosted on GitHub Pages</small></p>
		        <p>This project is maintained by <a href="https://github.com/jbee"><img src="{{ site.imgPath }}/Octocat.png" width="24" height="24" /> jbee</a></p>
	        </div>
      </footer>
    </div>
  </body>
</html>